* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    background-color: rgb(240, 242, 245);
    
}
/* styling for body of the quiz*/
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.3;
    width: 50%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.middle {
    text-align: center;
}

header {
    margin: 22px 0;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.scores a,
.timer {
    font-size: 18px;
}
.scores a {
    color:blueviolet;
    cursor: pointer;
}

.scores a:hover {
    color:rgb(57, 24, 88)
}

/* styling for first section in body*/
.start-quiz {
    text-align: center;
}

h1 {
    margin-bottom: 8px;
}

h2{
    margin: 20px 0;
  font-style: italic;
  text-align: center;
  color: rgb(150, 95, 201);
  border-top: 1px solid rgb(150, 95, 201);
  
}

/*buttons styling*/
button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    width: auto;
    padding: 8px;
    border-radius: 15px;
    background-color: blueviolet;
}



.btn-grid {
    display: grid;
    gap: 10px;
    margin: 20px 0;
    grid-template-columns: repeat(2, auto);
}








/* this will be applied to screens smaller than 575px */
@media screen and (max-width: 575px) {
    .btn-grid {
      grid-template-columns: repeat(1, auto);
      gap: 0;
      margin: 0;
    }
  }
 